/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*body*/

body {
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
}
section h1 {
	text-align: center;
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	line-height: 2em;
	letter-spacing: 0.2px;
	color: #0d4fa3;
	margin: 0.5em 0.5em;
}
/*header*/
header {
	background-color: #fff;
}
header img {
	width: 125px;
    margin: 0 0 0 2em;
}
nav {
    float: right;
}
ul {
	list-style: none;
}
nav ul {
    margin: 2em 3em;
}
nav li {
    display: inline-block;
}
nav li a {
	text-transform: uppercase;
	color: #222;
	margin: 0.5em;
	font-size: 13pt;
	line-height: 13pt;
	font-family: 'Montserrat', sans-serif;
}
nav li a:hover {
	color: #0d4fa3;
}
section.hero {
	background: transparent url("../images/background-new-resize.jpg") center top no-repeat;
    width: 100%;
    display: table;
    overflow: hidden;
}
h1.intro-copy {
	font-size: 3em;
	line-height: 1.2em;
    padding: 3em 12%;
    color: #fff;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: inherit;
}

/*section about*/

section#about {
	padding: 15px 13%;
	background-color: #f6f7f7;
}
section#about p {
	font-size: 14pt;
	line-height: 20pt;
	letter-spacing: 0.05px;
	margin-bottom: 0.5em;
	color: #212121;
}
section.our-team {
	padding: 2em 0;
	margin-bottom: 3em;
	background-color: #f6f7f7;
}
section.our-team .team {
    overflow: auto;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
}
.our-team ul.container {
	padding: 2em 8%;
}
.our-team .member {
    float: left;
    margin-right: 2%;
    width: 30%;
    list-style: none;
}
.member img {
    height: 274px;
    width: 220px;
    margin-bottom: 10px;
    display: block;
    margin: 1em auto;
}
.member h2 {
	text-align: center;
}
.member p {
	text-align: center;
}

/*section companies*/
section.companies {
	padding: 0 2% 0 6%;
	margin-bottom: 3em;
}
section.companies .insurances {
	overflow: auto;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
}
.companies ul.container {
	padding: 3em 7%;
}
.companies .company {
    float: left;
    margin-right: 2%;
    width: 18%;
    list-style: none;
}
section.companies ul.container img {
	margin: 0 auto;
	display: block;
}
section.companies ul.container p {
	margin-top: 1em;
}
ul.quote li {
	font-size: 14pt;
	line-height: 14pt;
	text-align: center;
	margin-bottom: 0.2em;
}
ul.quote {
	margin: 4em 0 4em 0;
}
ul.quote p {
	margin: 1em 0 1em 0;
}

strong {
	font-weight: bold;
}

/*section insurance*/
section#insurance {
	background-color: #f6f7f7;
}
section#insurance .services {
    overflow: auto;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}
section#insurance .container.even {
    background-color: #f6f7f7;
}
section#insurance .container {
    padding: 0 8%;
    margin-left: 4%;
}
li.card-insurance {
	float: left;
    margin: 0  2% 2% 0;
    width: 25%;
    padding: 3%;
    list-style: none;
    border: 1px solid #debf5a;
    min-height: 12em;
    background-color: #fff;
    border-radius: 3.5px;
}
	